.medium {
    color: #00AB6C;
  }
.twitter {
    color: #1DA1F2;
}
.facebook {
    color: #4267B2;
}
.youtube {
    color: #FF0000;
}
.slack {
    color: #3c0404;
}
@keyframes heart {
    0%, 40%, 80%, 100% {
    transform: scale(1);
    }
    20%, 60% {
    transform: scale(1.15);
    }
}
.heart {
    color: #FF0000;
    animation: heart 1000ms infinite;
}
[data-md-color-scheme="iceye"] {
    --md-primary-fg-color:        #000046;
    --md-primary-fg-color--light: #1CB5DF;
    --md-primary-fg-color--dark:  #471D6F;
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}